*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #eee;
    --color_logo-amarillo: #fdb900;
    --color_logo-celeste: #0083ff;

    
}
body,div,ul,nav,header,footer,main,section,a,li,label,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

/* HEADER SECTION ------------------------------------ */
.header{
    background-color: #035;
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}
.header__nav{
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}
.header__logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    max-width: 100px;
}

.header__logo{
    max-width: 72px;
    max-height: 72px;
}

.header__nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header__nav-item a{
    color: #eee;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: bold;
    display: none;
}
.header__nav-item--registration a{
    display: block;
    color: #111;
    background-color: var(--color_logo-amarillo);
    border-radius: 16px;
    padding: 12px 18px;
    justify-self: center;
    position: absolute;
    top: 30px;
    transition: all 0.7s;
}
.header__nav-item a:hover{
    opacity: 80%;
}

.header__nav-item--registration a:hover{
    opacity: 80%;
    padding: 20px 32px;
}




/* HEADER QUERIES ------------------------------------ */
@media screen and (min-width:760px) {
    .header{
        padding: 12px;
        justify-content: space-around;
        
    }
    .header__nav-list{
        flex-direction: row;
        align-items: center;
    }
    .header__nav-item a{
        display: initial;
    }
    .header__nav-item--registration a{
        display: initial;
        position: relative;
        top: 0;
    }
}

/* HEADER ENDS ------------------------------------ */



/* FOOTER SECTION ------------------------------------ */
.footer{
    padding: 6px 20px;
    background-color: #141414;
    padding-bottom: 0;
}

.footer__container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__info a{
    color: #eee;
    text-decoration: none;
}
.footer__info-paragraph{
    color: #eee;
}
.footer__info-contact{
    color: #999;
}

.footer__logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* FOOTER QUERIES ------------------------------------ */


/* FOOTER ENDS ------------------------------------ */



/* REGISTRATION SECTION --------------------------------*/
.registration__title{
    background: #222;
    padding: 0 24px;
    padding-top: 16px;
    color: #eee;
    text-align: center;

}
.registration{
    background: #222;
    text-align: center;
    padding: 12px 24px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.registration__form{
    display: flex;
    max-width: 500px;
    min-width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    align-self: center;
}

.form__item{
    font-size: 20px;
    margin: 12px 0;
    color: #eee;
}
.form__input{
    font-size: 16px;
    padding: 10px 6px;
    max-width: 90%;
    border-radius: 14px;
    border: none;
    background-color: #ddd;
}

.foto_cupos-container{
    margin: 40px 0;
    display: flex;
    justify-content: center;
}
.foto_cupos{
    max-width: 300px;
    max-height: 400px;
}


.form__button{
    margin: 22px;
    padding: 20px 30px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    max-width: 1000px;
    align-self: center;
    font-weight: bold;
    transition: background-color 0.4s;
    background-color: var(--color_logo-celeste);
    color: #ddd;
    }
.form__button:hover{
    background-color: #0066cc;
}

.fotos_evento-container{
    background: linear-gradient(to top, #222, #111);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 23px 8px;
    padding-bottom: 0;
}
.fotos_evento{
    max-width: 95%;
    align-self: center;
    margin: 30px 0 ;
}
.fotos_evento-2{
    margin-top: 0;
}
.fotos_evento-title{
    color: #eee;
    text-align: center;
    margin: 0;
}
.fotos_evento-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* REGISTRATION QUERIES --------------------------------*/
@media screen and (min-width:200px) and (max-width:400px){
    .registration__form{
    max-width: 260px;
    min-width: 260px;
    }
}

@media screen and (min-width:600px){
    .registration__form{
        max-width:auto ;
    }
    .foto_cupos-container{
        align-items: center;
    }
    .fotos_evento{
        max-width: 560px;
    }
    .fotos_evento-2{
        max-width: 560px;
    }
}
/* @media screen and (min-width:700px){
    .form__input{
        max-width: 100%;
    }
        .registration{
    flex-direction: column;
    justify-content: space-evenly;
    }
} */
@media screen and (min-width:900px){
    .foto_cupos{
        max-width: 520px;
        min-height: 520px;
    }
    .registration__form{
        min-width: 420px;
    }
    .registration{
    flex-direction: row;
    justify-content: space-evenly;
    }
}


@media screen and (min-width:1100px){
    .fotos_evento-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    }
    .fotos_evento{
        max-height: 348px;
    }
    .fotos_evento-2{
        margin: auto 0;
    }
}

/* REGISTRATION ENDS --------------------------------*/



/* INDEX SECTION ------------------------------------ */

/* PRESENTACION SECTION ----------------------------*/
.presentacion__section{
    background: linear-gradient(to top, #333,#222,#111);
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentacion__title{
    color: var(--color_logo-celeste);
    
}
.presentacion__description{
    color: var(--color_logo-amarillo);
}
.presentacion__paragraph{
    color: #eee;
}
/* PRESENTACION ENDS----------------------------------*/



/* MAPA SECTION ----------------------------------------*/
.mapa-recorrido__section{
    background: linear-gradient(to bottom, #333, #111);
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.puntos-hidratacion-title{
    padding-top: 12px;
    color: var(--color_logo-amarillo);
}
.puntos-hidratacion-list{
    /* list-style-type: none; */
    color: #eee;
    padding-left: 30px;
}
.mapa-recorrido-title{
    padding-bottom: 16px;
    color:#eee;
}
.mapa-recorrido-iframe{
    min-width: 80dvw;
    min-height: 450px;
}
.mapa-recorrido__container{
    display: flex;
    flex-direction: column;
}

/* MAPA ENDS ----------------------------------------*/


/* FOTOS EVENTO SECTION ------------------------------------*/


/* FOTOS EVENTO ENDS ------------------------------------*/




/* KIT DE CARREAR SECTION  ------------------------------------*/

.kit-de-carrera__section{
    background: linear-gradient(to bottom, #333, #111);
    padding: 12px 20px;
}
.kit-de-carrera__list{
    color: #eee;
    padding: 0 20px;
}
.kit-de-carrera__title{
    color: var(--color_logo-amarillo);
}

/* KIT DE CARRERA ENDS ------------------------------------*/



/* AUSPICIANTES SECTION ------------------------------------*/

.auspiciantes__section{
    background: linear-gradient(to top, #333, #111);
    display: flex;
    flex-direction: column;
    padding: 12px 20px;

}
.auspiciantes__section h2,p{
    color: #ddd;
    font-weight: bold;
}
.auspiciante__title{
    color: var(--color_logo-amarillo);
}
.auspiciantes__images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auspiciante__images{
    max-width: 300px;
    margin: 12px 0;
}

/* AUSPICIANTES ENDS ------------------------------------*/

/* ENLACES SECTION --------------------------*/
.enlaces__section{
    background: linear-gradient(to top, #333, #111);
}
.enlaces__list{
    display: flex;
    list-style-type: none;
    padding: 32px 20px;
    justify-content: center;
}

.enlaces__list-item a{
    color: #eee;
    margin: 0px 12px;
    text-decoration: none;
    /* background-color: #4af; */
    background-color: var(--color_logo-celeste);
    padding: 12px 12px;
    border-radius: 16px;
    transition: padding 0.7s;
    font-weight: bold;
}
.enlaces__list-item a:hover{
    padding: 20px 32px;
}
/* ENLACES ENDS ------------------------------*/



/* INDEX QUERIES ----------------------------------- */
@media screen and (min-width:400px){
    .enlaces__list{
        flex-direction: column;
        align-items: center;
    }
    .enlaces__list-item{
        margin: 18px;
    }
    .enlaces__list-item a{
        text-wrap: nowrap;
    }

}

@media screen and (min-width:600px){
    .auspiciantes__section{
        text-align: center;
    }
    .auspiciantes__images-container{
        flex-direction: row;
        justify-content: space-around;

    }
    .auspiciante__images{
        max-width: 250px;
    }
    .kit-de-carrera__container{
        margin: 0 auto;
        max-width: 1024px;
    }
    .presentacion__container{
        margin: 0 auto;
        max-width: 1024px;
    }
    .enlaces__section{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:900px){
    .auspiciante__images{
        max-width: 300px;
    }
    .mapa-recorrido__container{
        flex-direction: row;
    }
    .mapa-recorrido-iframe{
        min-width: 600px;
    }
    .puntos-hidratacion__container{
        padding: 0 26px;
        align-self: center;
    }
    .enlaces__list-item{
        font-size: 22px;
        font-weight: bold;
    }
    .enlaces__list{
        flex-direction: row;
    }
}

/* INDEX ENDS -------------------------------------- */